{{ "<!-- navigation -->" | safeHTML }}

<!-- #a61c00ff -->
<header class="sticky-top navigation" style="background-color: #1c4ba5">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img class="" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" width="250px">
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
          </li>
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" style="color: white" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ .Name }}
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item" style="color: #1c4ba5" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }} {{ .Name }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" style="color: white" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }} {{ .Name }}</a>
            </li>
            {{ end }}
          {{ end }}
          <a class="nav-link" style="color: white" href="https://elivirs.pantrypoints.com">
            <button class="btn btn-sm btn-danger">
              Elivir's Rewards
            </button>
          </a>
        </ul>
      </div>
<!--       <button class="cart snipcart-summary"><a href="" class="snipcart-checkout text-dark"><i class="ti-shopping-cart"></i><span class="badge badge-primary snipcart-total-items"></span></a></button> -->
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}